@import "../../global.scss";

.topbar{
    background-color: black;
    color: wheat;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;

    .wrapper{
        padding: 10px 30px ;
        display: flex;
        align-items: center;
        justify-content: space-between ;

        .left{

            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo{
                font-size: 40px;
                font-family: 'Sansita Swashed', cursive;
                //font-weight: bold;
                text-decoration: none;
                color: wheat;
                margin-right: 70px;
            }

            .extra{

                a{
                    color: wheat ;
                    font-size: 27px;

                }
                
                margin-left: 0;
                margin-right: 20px;
                display: flex;
                align-items: center;
                //font-size: 25px;    

                @include mobile{
                    display: none;
                }

            }
            .extra:hover{
                transform: scale(1.10);
            }



        }
        

        .right{

            .hamburger{
                width: 33px;
                height: 27px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                span{
                    width: 100%;
                    height: 3px;
                    background-color: wheat;
                    transform-origin: left;
                    transition: all 1s ease;
                }
            }
        }
    }

    &.active{
        background-color:black;
        color: wheat;
        .hamburger{
            span{

                &:first-child{
                    background-color: wheat;
                    transform:rotate(45deg);
                }

                &:nth-child(2){
                    opacity: 0;
                }

                &:last-child{
                    background-color: wheat;
                    transform:rotate(-45deg);
                }

            }
        }

        .left{
            .col{
                color: wheat;
            }
            .logo{
                color: wheat;
            }
            
        }
    }
}