@import"../../global.scss";


.intro{
    background-color: black;
    display: flex;

    

    .wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    


    
        

        .imgContainer{
            width: 320px;
            height: 300px ;
            background-color: black;
            border-radius: 70%;
            display: flex;
            align-items: flex-start;
            justify-content:center ;
            overflow: hidden;

            @include mobile{
                align-items: center;
                width: 280px;
                height: 290px;
            }

            img{
                height: 100%;
                transform: scale(1.15);

                @include mobile{
                    height: 100%;
                    transform: scale(1.27);
                }
            }
            
        }
    
        .down {
            color: aliceblue;

            @include mobile{
                height: 90%;
                margin-left: 5px;
            }
            
           
            .namecol{
                color: aliceblue;
                
                font-size: 40px;
                margin: 10px 0;
                font-family: 'Sansita Swashed', cursive;
                align-items: center;
                display: flex;
                justify-content: center;
                font-weight: 500;

                span{
                    color: crimson;   
                    font-size: inherit; 
                    font-weight: 500;
                    font-family: inherit            
                }

                @include mobile{

                }

                
            
            }
            

            .wrapper{

                .para{
                    font-size: 35px;
                    //font-family: 'Sansita Swashed', cursive;
                    margin-left: 17%;
                    font-family: 'Barlow Condensed', sans-serif;
                    font-weight: 200;
                    margin-right: 17%;
                    margin-bottom: 1.5%;
                    
                    @include mobile{
                        margin-left: 0;
                        margin-right: 0;
                    }

                    span{
                        color: crimson;
                        font-size: 40px;
                        font-weight: 500;
                        font-family: 'Barlow Condensed', sans-serif;
                    }

                    
                }
                
                .buttons{
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    a{
                        text-decoration: none;
                        
                    }

                    button{
                        display: block;
                        width: 190px;
                        height: 40px;
                        font-size: 18px;
                        text-decoration: none;
                        color: black;
                        border-radius: 10px;
                        border: 2px solid #333;
                        text-align: center;
                        position: relative;
                        transition: all .35s;
                        font-weight: 700;
                        cursor: pointer;
                        background-color: white;
                        
                    
                        span{
                            position: relative;
                            z-index: 1;
                            font-family: 'Barlow Condensed', sans-serif;
                            //font-weight: 700;
                            font-size: 25px;
                        }
                        &:focus{
                            outline:none;
                        }
                    }
                    button:after{
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 100%;
                        background: #ff003b;
                        transition: all .35s;
                    }
                    button:hover{
                        color: black;
                        
                    }
                    button:hover:after{
                        width: 100%;
                        color: black;
                    }

                    .moved{
                        margin-left: 10px;
                    }
                    

                }
                
                

            }

            

            

            
        };
    }
}